@page "/"
@inject CommunityToolkit.Maui.Storage.IFolderPicker FolderPicker

<header>
	<h1>MediaPlayer</h1>
</header>
<div class="main-page">
	<aside class="sidebar">
		<ul>
			@foreach (string student in students)
			{
				<li>@student</li>
			}
		</ul>
	</aside>
	<div></div>
	@if (!string.IsNullOrEmpty(selectedFolder))
	{
		<p>Selected folder: @selectedFolder</p>
	}
</div>

@code {
	List<string> students = new() { "Eithan", "Mathis", "Emma" };
	string selectedFolder = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await PickFolderAsync();
	}

	private async Task PickFolderAsync()
	{
		try
		{
			var result = await FolderPicker.PickAsync();
			result.EnsureSuccess();
			students.Add(result.Folder.Name);

		}
		catch(Exception e)
		{

		}
	}
	private GetSongs()
	{
		
	}
}